# Airbnb - Boston and Seattle Data First look

In this article I would like to analyze the Airbnb data of Boston and Seattle to get answers for below questions:

1. Price comparison between Seattle and Boston
2. Price trend over time
3. Relation between price and various features of the property.
4. Prediction of price for a new listing

In this notebook, we will examine the data set and understand its features.

In [1]:
# Import all necessary packages
import numpy as np
import pandas as pd

In [2]:
#Increasing the display rows to see more records for better understanding of data
pd.set_option('display.max_rows', 500)

In [3]:
# Load Seattle Airbnb data

seattle_calendar = pd.read_csv('Seattle\Calendar.csv')
seattle_listings = pd.read_csv('Seattle\listings.csv')

In [4]:
# Load Boston Airbnb data

boston_calendar = pd.read_csv('Boston\Calendar.csv')
boston_listings = pd.read_csv('Boston\listings.csv')

In [5]:
# Analyse the data
boston_calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [6]:
boston_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [7]:
boston_calendar.shape

(1308890, 4)

In [8]:
boston_listings.shape

(3585, 95)

In [9]:
# Compare the data types of Seattle and Boston data 

print(seattle_calendar.dtypes == boston_calendar.dtypes)

listing_id    True
date          True
available     True
price         True
dtype: bool

In [12]:
# boston listings data set has three extra columns than Seattle so we can drop them
boston_listings.drop(columns = ['access', 'interaction', 'house_rules'], axis = 0, inplace = True)

In [13]:
print(seattle_listings.dtypes == boston_listings.dtypes)

id                                   True
listing_url                          True
scrape_id                            True
last_scraped                         True
name                                 True
summary                              True
space                                True
description                          True
experiences_offered                  True
neighborhood_overview                True
notes                                True
transit                              True
thumbnail_url                        True
medium_url                           True
picture_url                          True
xl_picture_url                       True
host_id                              True
host_url                             True
host_name                            True
host_since                           True
host_location                        True
host_about                           True
host_response_time                   True
host_response_rate                   True
host_acceptance_rate                 True
host_is_superhost                    True
host_thumbnail_url                   True
host_picture_url                     True
host_neighbourhood                   True
host_listings_count                 False
host_total_listings_count           False
host_verifications                   True
host_has_profile_pic                 True
host_identity_verified               True
street                               True
neighbourhood                        True
neighbourhood_cleansed               True
neighbourhood_group_cleansed        False
city                                 True
state                                True
zipcode                              True
market                               True
smart_location                       True
country_code                         True
country                              True
latitude                             True
longitude                            True
is_location_exact                    True
property_type                        True
room_type                            True
accommodates                         True
bathrooms                            True
bedrooms                             True
beds                                 True
bed_type                             True
amenities                            True
square_feet                          True
price                                True
weekly_price                         True
monthly_price                        True
security_deposit                     True
cleaning_fee                         True
guests_included                      True
extra_people                         True
minimum_nights                       True
maximum_nights                       True
calendar_updated                     True
has_availability                    False
availability_30                      True
availability_60                      True
availability_90                      True
availability_365                     True
calendar_last_scraped                True
number_of_reviews                    True
first_review                         True
last_review                          True
review_scores_rating                 True
review_scores_accuracy               True
review_scores_cleanliness            True
review_scores_checkin                True
review_scores_communication          True
review_scores_location               True
review_scores_value                  True
requires_license                     True
license                              True
jurisdiction_names                  False
instant_bookable                     True
cancellation_policy                  True
require_guest_profile_picture        True
require_guest_phone_verification     True
calculated_host_listings_count       True
reviews_per_month                    True
dtype: bool

In [14]:
# In above results we could see format of 5 fields are different, lets dig in
boston_listings['host_listings_count'].value_counts()

1      1616
2       498
3       220
4       157
749     136
5        85
7        83
558      79
6        67
313      61
363      58
11       54
52       50
24       48
22       45
18       33
8        28
307      25
15       25
30       24
12       24
13       22
16       21
37       20
21       17
14       15
20       14
10       14
122      13
17       11
9        10
28        8
0         2
71        1
45        1
Name: host_listings_count, dtype: int64

In [15]:
seattle_listings['host_listings_count'].value_counts()

1.0      2179
2.0       620
3.0       261
4.0       151
5.0        98
34.0       67
6.0        48
48.0       46
169.0      39
37.0       37
36.0       36
7.0        30
9.0        28
10.0       26
8.0        23
11.0       22
21.0       21
18.0       19
17.0       16
13.0       12
12.0       12
354.0      10
19.0        4
163.0       4
15.0        3
84.0        2
502.0       2
Name: host_listings_count, dtype: int64

In [16]:
boston_listings['license'].value_counts()

Series([], Name: license, dtype: int64)

In [17]:
seattle_listings['license'].value_counts()

Series([], Name: license, dtype: int64)

In [18]:
seattle_calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [19]:
seattle_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

So we had a quick look at the data and understood few things:
1. Data set is almost same.
2. Boston listings data set has three extra columns when compared to Seattle i.e. 'access', 'interaction', 'house_rules'
3. There are 5 columns with different format - 'host_listings_count','host_total_listings_count', 'neighbourhood_group_cleansed', 'has_availability', 'jurisdiction_names'
4. Field 'license' has only NAN in both the data set.
5. Field 'market' can be used to identify if a particular record is of Boston's or Seattle's.