# Airbnb data - Extraction and Transformation

In this notebook we will extract the data and do various transformations for visualizing the data and for making predictions.

In [1]:
# Import all necessary packages
import numpy as np
import pandas as pd

In [2]:
#Increasing the display rows to see more records for better understanding of data
pd.set_option('display.max_rows', 500)

## Cleaning up Seattle Data

In [3]:
# Load Seattle Airbnb data

seattle_calendar = pd.read_csv('Seattle\Calendar.csv')
seattle_listings = pd.read_csv('Seattle\listings.csv')

In [4]:
seattle_listings.shape

(3818, 92)

In [5]:
seattle_listings['market'].value_counts()

Seattle    3818
Name: market, dtype: int64

In [6]:
# Dropping some columns which are not needed for our analysis
seattle_listings.drop(columns = ['host_listings_count','host_total_listings_count', 'neighbourhood_group_cleansed', 'has_availability', 'jurisdiction_names'], axis = 0, inplace = True)

seattle_listings.drop(columns = ['listing_url','scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered','neighborhood_overview',
                                'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url','host_id', 'host_url', 
                                'host_name', 'host_since', 'host_location', 'host_about', 
                                'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_verifications',
                                 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
                                 'host_has_profile_pic', 'host_identity_verified',
                                'description', 'require_guest_profile_picture', 'require_guest_phone_verification',
                                'license', 'latitude', 'longitude', 'is_location_exact', 'zipcode', 'amenities', 'first_review',
                                'last_review'], axis = 0, inplace = True)

In [7]:
seattle_listings.dtypes

id                                  int64
street                             object
neighbourhood                      object
neighbourhood_cleansed             object
city                               object
state                              object
market                             object
smart_location                     object
country_code                       object
country                            object
property_type                      object
room_type                          object
accommodates                        int64
bathrooms                         float64
bedrooms                          float64
beds                              float64
bed_type                           object
square_feet                       float64
price                              object
weekly_price                       object
monthly_price                      object
security_deposit                   object
cleaning_fee                       object
guests_included                     int64
extra_people                       object
minimum_nights                      int64
maximum_nights                      int64
calendar_updated                   object
availability_30                     int64
availability_60                     int64
availability_90                     int64
availability_365                    int64
calendar_last_scraped              object
number_of_reviews                   int64
review_scores_rating              float64
review_scores_accuracy            float64
review_scores_cleanliness         float64
review_scores_checkin             float64
review_scores_communication       float64
review_scores_location            float64
review_scores_value               float64
requires_license                   object
instant_bookable                   object
cancellation_policy                object
calculated_host_listings_count      int64
reviews_per_month                 float64
dtype: object

In [8]:
# Creating a single data set for Seattle
seattle_data = seattle_calendar.merge(seattle_listings, left_on = 'listing_id', right_on = 'id')

In [9]:
seattle_data.shape

(1393570, 50)

## Cleaning up Boston Data

In [10]:
# Load Boston Airbnb data

boston_calendar = pd.read_csv('Boston\Calendar.csv')
boston_listings = pd.read_csv('Boston\listings.csv')

In [11]:
# boston listings data set has three extra columns than Seattle so dropping them
boston_listings.drop(columns = ['access', 'interaction', 'house_rules'], axis = 0, inplace = True)

In [12]:
# Dropping more columns that are not required for this analysis
boston_listings.drop(columns = ['host_listings_count','host_total_listings_count', 'neighbourhood_group_cleansed', 'has_availability', 'jurisdiction_names'], axis = 0, inplace = True)

boston_listings.drop(columns = ['listing_url','scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered','neighborhood_overview',
                                'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url','host_id', 'host_url', 
                                'host_name', 'host_since', 'host_location', 'host_about', 
                                'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_verifications',
                                 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
                                 'host_has_profile_pic', 'host_identity_verified',
                                'description', 'require_guest_profile_picture', 'require_guest_phone_verification',
                                'license', 'latitude', 'longitude', 'is_location_exact', 'zipcode', 'amenities', 'first_review',
                                'last_review'], axis = 0, inplace = True)

In [13]:
boston_listings.shape

(3585, 46)

In [14]:
#Compare data set before concatenating
print(seattle_listings.dtypes == boston_listings.dtypes)

id                                True
street                            True
neighbourhood                     True
neighbourhood_cleansed            True
city                              True
state                             True
market                            True
smart_location                    True
country_code                      True
country                           True
property_type                     True
room_type                         True
accommodates                      True
bathrooms                         True
bedrooms                          True
beds                              True
bed_type                          True
square_feet                       True
price                             True
weekly_price                      True
monthly_price                     True
security_deposit                  True
cleaning_fee                      True
guests_included                   True
extra_people                      True
minimum_nights                    True
maximum_nights                    True
calendar_updated                  True
availability_30                   True
availability_60                   True
availability_90                   True
availability_365                  True
calendar_last_scraped             True
number_of_reviews                 True
review_scores_rating              True
review_scores_accuracy            True
review_scores_cleanliness         True
review_scores_checkin             True
review_scores_communication       True
review_scores_location            True
review_scores_value               True
requires_license                  True
instant_bookable                  True
cancellation_policy               True
calculated_host_listings_count    True
reviews_per_month                 True
dtype: bool

In [15]:
# Merge Boston's data sets
boston_data= boston_calendar.merge(boston_listings , left_on= 'listing_id', right_on = 'id')

In [16]:
print(seattle_data.dtypes == boston_data.dtypes)

listing_id                        True
date                              True
available                         True
price_x                           True
id                                True
street                            True
neighbourhood                     True
neighbourhood_cleansed            True
city                              True
state                             True
market                            True
smart_location                    True
country_code                      True
country                           True
property_type                     True
room_type                         True
accommodates                      True
bathrooms                         True
bedrooms                          True
beds                              True
bed_type                          True
square_feet                       True
price_y                           True
weekly_price                      True
monthly_price                     True
security_deposit                  True
cleaning_fee                      True
guests_included                   True
extra_people                      True
minimum_nights                    True
maximum_nights                    True
calendar_updated                  True
availability_30                   True
availability_60                   True
availability_90                   True
availability_365                  True
calendar_last_scraped             True
number_of_reviews                 True
review_scores_rating              True
review_scores_accuracy            True
review_scores_cleanliness         True
review_scores_checkin             True
review_scores_communication       True
review_scores_location            True
review_scores_value               True
requires_license                  True
instant_bookable                  True
cancellation_policy               True
calculated_host_listings_count    True
reviews_per_month                 True
dtype: bool

In [17]:
#Check if market has only respective region's data
seattle_data['market'].value_counts()

Seattle    1393570
Name: market, dtype: int64

In [18]:
boston_data['market'].value_counts()

Boston                   1302685
Other (Domestic)             365
Other (International)        365
San Francisco                365
Name: market, dtype: int64

In [19]:
## Retaining only Boston data
boston_data = boston_data[boston_data['market'] == 'Boston']

In [20]:
boston_data.shape

(1302685, 50)

## Merge Seattle and Boston datasets

In [21]:
#Concatenate Seattle and Boston data sets
Final_data = pd.concat([seattle_data, boston_data])

In [23]:
Final_data['market'].value_counts()

Seattle    1393570
Boston     1302685
Name: market, dtype: int64

In [22]:
# check price fields data format
Final_data['price_x'].value_counts()

$150.00      57321
$100.00      46877
$75.00       46069
$65.00       43933
$125.00      37183
$90.00       33095
$85.00       33052
$99.00       32697
$80.00       32396
$70.00       32374
$60.00       30755
$200.00      30393
$95.00       30096
$175.00      29242
$250.00      28261
$120.00      26486
$110.00      26450
$55.00       23986
$50.00       20545
$115.00      19152
$135.00      17866
$69.00       17135
$40.00       16673
$130.00      16572
$225.00      15835
$79.00       15537
$300.00      14901
$89.00       14792
$105.00      13529
$199.00      13038
$45.00       12961
$160.00      12773
$275.00      12404
$129.00      11905
$49.00       11711
$145.00      11234
$350.00      11123
$195.00      10801
$140.00      10458
$155.00      10353
$59.00       10155
$119.00      10132
$165.00      10047
$249.00       9606
$149.00       9394
$109.00       9147
$180.00       8531
$139.00       8419
$299.00       8292
$349.00       7777
$500.00       7759
$189.00       7144
$170.00       7003
$185.00       6860
$88.00        6832
$68.00        6796
$220.00       6660
$400.00       6363
$39.00        6092
$58.00        6053
$35.00        6030
$169.00       5994
$450.00       5882
$179.00       5776
$325.00       5533
$295.00       5344
$399.00       5061
$375.00       5049
$42.00        5023
$245.00       5008
$98.00        4958
$159.00       4938
$210.00       4688
$78.00        4544
$72.00        4470
$190.00       4420
$239.00       4412
$62.00        4369
$229.00       4210
$97.00        4197
$329.00       4041
$52.00        3972
$137.00       3900
$82.00        3792
$209.00       3740
$259.00       3644
$285.00       3639
$240.00       3626
$48.00        3592
$280.00       3517
$30.00        3462
$700.00       3428
$235.00       3317
$219.00       3212
$215.00       3203
$138.00       3169
$230.00       3110
$84.00        3071
$51.00        3042
$87.00        3023
$74.00        2952
$57.00        2924
$63.00        2907
$550.00       2905
$118.00       2890
$103.00       2873
$93.00        2870
$269.00       2816
$600.00       2803
$279.00       2749
$38.00        2747
$31.00        2724
$29.00        2672
$126.00       2655
$342.00       2640
$67.00        2620
$260.00       2591
$53.00        2588
$77.00        2548
$66.00        2517
$425.00       2453
$47.00        2450
$92.00        2439
$54.00        2394
$289.00       2283
$198.00       2266
$104.00       2237
$96.00        2214
$265.00       2194
$46.00        2184
$148.00       2151
$168.00       2130
$81.00        2107
$64.00        2080
$359.00       2026
$122.00       2021
$56.00        2015
$73.00        1995
$290.00       1961
$395.00       1948
$228.00       1946
$232.00       1945
$44.00        1941
$41.00        1920
$114.00       1906
$117.00       1862
$144.00       1855
$270.00       1852
$25.00        1840
$124.00       1820
$112.00       1777
$174.00       1762
$83.00        1740
$147.00       1732
$320.00       1675
$255.00       1667
$205.00       1667
$457.00       1624
$43.00        1607
$94.00        1526
$354.00       1524
$113.00       1512
$127.00       1512
$36.00        1500
$152.00       1472
$128.00       1461
$158.00       1428
$91.00        1425
$134.00       1410
$178.00       1399
$33.00        1399
$71.00        1375
$315.00       1369
$132.00       1366
$310.00       1366
$331.00       1349
$194.00       1341
$319.00       1337
$111.00       1319
$330.00       1304
$309.00       1301
$37.00        1293
$76.00        1290
$136.00       1277
$499.00       1264
$86.00        1255
$108.00       1241
$525.00       1239
$449.00       1233
$153.00       1216
$377.00       1159
$365.00       1149
$141.00       1133
$218.00       1126
$207.00       1123
$61.00        1115
$102.00       1113
$212.00       1108
$164.00       1091
$107.00       1078
$335.00       1077
$188.00       1058
$154.00       1055
$251.00       1051
$389.00       1041
$216.00       1012
$183.00        986
$143.00        975
$156.00        975
$28.00         970
$163.00        970
$475.00        965
$184.00        965
$177.00        962
$106.00        956
$146.00        935
$422.00        915
$495.00        909
$262.00        900
$257.00        891
$202.00        887
$650.00        887
$101.00        884
$157.00        874
$123.00        867
$238.00        865
$176.00        856
$575.00        855
$20.00         850
$999.00        849
$390.00        847
$197.00        844
$142.00        836
$1,000.00      830
$133.00        826
$172.00        817
$166.00        816
$571.00        815
$242.00        805
$162.00        796
$800.00        794
$468.00        791
$355.00        789
$298.00        786
$385.00        781
$186.00        778
$196.00        776
$435.00        774
$204.00        767
$34.00         754
             ...
$11.00           2
$945.00          2
$782.00          2
$1,604.00        2
$1,201.00        2
$1,984.00        2
$841.00          2
$1,245.00        2
$1,147.00        2
$1,157.00        2
$1,379.00        2
$1,106.00        2
$1,140.00        2
$920.00          2
$1,361.00        2
$1,020.00        2
$1,122.00        2
$1,539.00        2
$774.00          2
$1,061.00        2
$1,274.00        2
$1,082.00        2
$903.00          2
$1,092.00        2
$896.00          2
$1,832.00        1
$1,073.00        1
$997.00          1
$2,024.00        1
$1,158.00        1
$1,174.00        1
$1,556.00        1
$1,464.00        1
$2,077.00        1
$3,314.00        1
$1,442.00        1
$1,333.00        1
$12.00           1
$1,934.00        1
$1,385.00        1
$2,088.00        1
$1,232.00        1
$2,262.00        1
$1,836.00        1
$1,187.00        1
$1,707.00        1
$2,201.00        1
$2,118.00        1
$1,443.00        1
$1,030.00        1
$1,089.00        1
$1,316.00        1
$1,885.00        1
$1,229.00        1
$1,257.00        1
$1,929.00        1
$1,490.00        1
$1,362.00        1
$1,875.00        1
$873.00          1
$1,075.00        1
$1,132.00        1
$1,538.00        1
$1,180.00        1
$1,815.00        1
$1,368.00        1
$1,739.00        1
$1,587.00        1
$2,192.00        1
$1,313.00        1
$2,016.00        1
$1,846.00        1
$804.00          1
$1,325.00        1
$983.00          1
$1,195.00        1
$882.00          1
$1,256.00        1
$1,966.00        1
$1,400.00        1
$1,212.00        1
$907.00          1
$1,154.00        1
$2,154.00        1
$1,013.00        1
$1,334.00        1
$2,046.00        1
$1,728.00        1
$1,602.00        1
$2,383.00        1
$767.00          1
$984.00          1
$2,006.00        1
$1,843.00        1
$1,434.00        1
$1,470.00        1
$1,305.00        1
$1,227.00        1
$1,189.00        1
$1,364.00        1
$739.00          1
$1,855.00        1
$1,435.00        1
$722.00          1
$786.00          1
$1,591.00        1
$1,059.00        1
$1,386.00        1
$3,051.00        1
$1,017.00        1
$1,303.00        1
$1,267.00        1
$1,695.00        1
$1,045.00        1
$1,004.00        1
$1,175.00        1
$1,342.00        1
$912.00          1
$852.00          1
$1,617.00        1
$1,321.00        1
$7,163.00        1
$765.00          1
$1,271.00        1
$1,107.00        1
$1,301.00        1
$1,888.00        1
$2,053.00        1
$1,056.00        1
$1,065.00        1
$1,116.00        1
$1,912.00        1
$1,810.00        1
$1,357.00        1
$1,993.00        1
$2,158.00        1
$1,377.00        1
$1,262.00        1
$1,261.00        1
$1,353.00        1
$2,059.00        1
$1,047.00        1
$2,080.00        1
$1,050.00        1
$1,969.00        1
$1,238.00        1
$1,049.00        1
$648.00          1
$1,275.00        1
$1,066.00        1
$1,902.00        1
$1,211.00        1
$1,429.00        1
$1,381.00        1
$1,394.00        1
$1,169.00        1
$1,192.00        1
$986.00          1
$2,345.00        1
$1,070.00        1
$2,717.00        1
$1,884.00        1
$661.00          1
$713.00          1
$834.00          1
$1,287.00        1
$1,444.00        1
$1,021.00        1
$1,621.00        1
$1,741.00        1
$1,041.00        1
$1,473.00        1
$2,098.00        1
$1,277.00        1
$1,451.00        1
$1,355.00        1
$817.00          1
$1,183.00        1
$990.00          1
$791.00          1
$1,009.00        1
$1,856.00        1
$10.00           1
$821.00          1
$1,388.00        1
$1,485.00        1
$2,437.00        1
$2,102.00        1
$2,149.00        1
$1,411.00        1
$1,085.00        1
$1,326.00        1
$1,330.00        1
$1,504.00        1
$1,340.00        1
$1,203.00        1
$1,270.00        1
$1,196.00        1
$769.00          1
$2,226.00        1
$1,113.00        1
$1,924.00        1
$974.00          1
$2,656.00        1
$1,371.00        1
$1,024.00        1
$1,006.00        1
$1,630.00        1
$1,797.00        1
$1,033.00        1
$1,296.00        1
$2,099.00        1
$1,365.00        1
$1,008.00        1
$1,343.00        1
$921.00          1
$1,074.00        1
$1,149.00        1
$963.00          1
$1,225.00        1
$2,415.00        1
$847.00          1
$1,052.00        1
$1,312.00        1
$1,121.00        1
$1,548.00        1
$1,148.00        1
$1,255.00        1
$1,258.00        1
$1,498.00        1
$878.00          1
$2,063.00        1
$2,638.00        1
$924.00          1
$1,572.00        1
$717.00          1
$2,045.00        1
$951.00          1
$1,290.00        1
$1,102.00        1
$1,191.00        1
$1,559.00        1
$1,134.00        1
$2,110.00        1
$1,091.00        1
$1,776.00        1
$1,911.00        1
$1,035.00        1
$1,495.00        1
$949.00          1
Name: price_x, Length: 1257, dtype: int64

In [27]:
# For easier analysis we can remove '$' ',' from all price fields.
replacedollar = lambda col: col.str.replace('$','')
replacecomma = lambda col: col.str.replace(',','')
totypefloat = lambda col: col.astype('float')

Final_data[['price_x', 'price_y', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee']] = Final_data[['price_x', 'price_y', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee']].apply(replacedollar)
Final_data[['price_x', 'price_y', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee']] = Final_data[['price_x', 'price_y', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee']].apply(replacecomma)
Final_data[['price_x', 'price_y', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee']] = Final_data[['price_x', 'price_y', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee']].apply(totypefloat)

In [28]:
Final_data.head()

,listing_id,date,available,price_x,id,street,neighbourhood,neighbourhood_cleansed,city,state,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
0,241032,2016-01-04,t,85.0,241032,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Seattle,WA,...,10.0,10.0,10.0,9.0,10.0,f,f,moderate,2,4.07
1,241032,2016-01-05,t,85.0,241032,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Seattle,WA,...,10.0,10.0,10.0,9.0,10.0,f,f,moderate,2,4.07
2,241032,2016-01-06,f,NaN,241032,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Seattle,WA,...,10.0,10.0,10.0,9.0,10.0,f,f,moderate,2,4.07
3,241032,2016-01-07,f,NaN,241032,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Seattle,WA,...,10.0,10.0,10.0,9.0,10.0,f,f,moderate,2,4.07
4,241032,2016-01-08,f,NaN,241032,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Seattle,WA,...,10.0,10.0,10.0,9.0,10.0,f,f,moderate,2,4.07

In [29]:
Final_data.dtypes

listing_id                          int64
date                               object
available                          object
price_x                           float64
id                                  int64
street                             object
neighbourhood                      object
neighbourhood_cleansed             object
city                               object
state                              object
market                             object
smart_location                     object
country_code                       object
country                            object
property_type                      object
room_type                          object
accommodates                        int64
bathrooms                         float64
bedrooms                          float64
beds                              float64
bed_type                           object
square_feet                       float64
price_y                           float64
weekly_price                      float64
monthly_price                     float64
security_deposit                  float64
cleaning_fee                      float64
guests_included                     int64
extra_people                       object
minimum_nights                      int64
maximum_nights                      int64
calendar_updated                   object
availability_30                     int64
availability_60                     int64
availability_90                     int64
availability_365                    int64
calendar_last_scraped              object
number_of_reviews                   int64
review_scores_rating              float64
review_scores_accuracy            float64
review_scores_cleanliness         float64
review_scores_checkin             float64
review_scores_communication       float64
review_scores_location            float64
review_scores_value               float64
requires_license                   object
instant_bookable                   object
cancellation_policy                object
calculated_host_listings_count      int64
reviews_per_month                 float64
dtype: object

In [30]:
# Saving the transformed data into csv file for our further analysis and visualizations

Final_data.to_csv('Boston Seattle Airbnb data.csv', index=False)